# Ignore node_modules directory (where dependencies are installed)
node_modules/

# Ignore logs and debugging files
npm-debug.log

# Ignore environment-specific configurations
.env

# Ignore build files and directories
dist/

# Ignore the package lock file
package-lock.json

# Ignore user-specific files
.DS_Store
Thumbs.db

# Ignore coverage directory
coverage/